<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.11.0/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.11.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.11.0/firebase-auth.js"></script>
<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyDwPLlfenlIkNJKLEns7lUmifpu-OUEOkU",
        authDomain: "auction22.firebaseapp.com",
        databaseURL: "https://auction22.firebaseio.com",
        projectId: "auction22",
        storageBucket: "auction22.appspot.com",
        messagingSenderId: "1091192002199",
        appId: "1:1091192002199:web:99d5b03b52b2a008"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);

    firebase.auth().signOut().then(function() {
        // Sign-out successful.
        location.href = '/index/';
    }).catch(function(error) {
        // An error happened.
        console.log('signout failed.');
    });
</script>